   <div class="body1"> 
     <div class="container mt-5">
        <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card card-signin my-5">
             <div class="card-body">
               <h5 class="card-title text-center">Sign In</h5>
               <form class="form">
                   <label class="form" for="email">Email</label>
                   <input type="email" name="userid" class="form-control" placeholder="Email address" required autofocus>
                   <label class="form" for="password">password</label>
                   <input type="password" name="pswrd" class="form-control" placeholder="Password" required>
                   <div class="custom-control custom-checkbox mb-3">
                   <input type="checkbox" class="custom-control-input" id="customCheck1">
                   <label class="custom-control-label" for="customCheck1">Remember password</label>
                 </div>
                 <input type="button" onclick="check(this.form)" value="Login"/>
                  <a href="login as guest.html" class="float-right" onclick="check1(this.form)">LogIn as a guest</a>
                  <hr class="my-4">
                  <p class="text-center">Not register<a href="registration.html">create an account</a></p>
                </form>
             </div>
           </div>
         </div>
        </div>
      </div>
   </div>
