.body1 {
    background: #9CECFB;
     background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
     background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
     height:625px;
   }
.margintp{
  margin-top: 10%
}